<header>
    <div class="menu-section">
        <div [ngClass]="{'on': openMenuToggle}">
          <div class="menu-toggle">
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
          </div>
          <span class="spacer"></span>
          <nav class="menu-sections__nav-items">
              <ul>
                <li>
                  <a routerLink="" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active" (click)="openMenuToggle=false">{{'nav.home' | translate }}</a>
                </li>
                <li>
                  <a routerLink="about" routerLinkActive="active" (click)="openMenuToggle=false">{{'nav.about' | translate }}</a>
                </li>
                <li>
                  <a href="#" routerLinkActive="active" >{{'nav.contact' | translate }}</a>
                </li>
                <li>
                  <a href="#" routerLinkActive="active">Blog</a>
                </li>
              </ul>
          </nav>
          <span class="spacer"></span>
          <nav class="menu-sections__nav-buttons">
              <a
                value="en-US"
                [ngClass]="{'activated' : getCurrentLanguage() === 'en-US' }"
                (click)="changeLanguage('en-US')">
                ENG
              </a>
              <a
                value="pt-BR"
                [ngClass]="{'activated' : getCurrentLanguage() === 'pt-BR' }"
                (click)="changeLanguage('pt-BR')">
                POR
              </a>
          </nav>
        </div>
    </div>
</header>
