a {
    border: 1px solid var(--greenlight);
    padding: 1.5rem;
    font-size: 1.4rem;
    width: 25rem;
    color: var(--greenlight);
    display: flex;
    justify-content: center;
    background: linear-gradient(to left, transparent 50%, var(--greenlight) 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
    margin: 10px 0px;

  }
  a:hover {
    background-position: left;
    color: white;
  }

   // Tablet
   @media screen and (min-width: 768px) {
    a {
        padding: 1.2rem !important;
        font-size: 1.1rem !important;
        width: 20rem !important;
    }
  }
