<section>
    <div class="container-skills">
        <div class="p-grid">
            <div class="p-col">
                <picture class="image" alt="image">
                    <p-image src="../../../assets/images/javascript/icons8-javascript-144.svg" alt="Image" width="250"></p-image>
                    <p-image src="../../../assets/images/javascript/icons8-javascript-144.svg" alt="Image" width="250"></p-image>
                    <p-image src="../../../assets/images/javascript/icons8-javascript-144.svg" alt="Image" width="250"></p-image>
                </picture>
            </div>
            <div class="p-col">
                <div class="box">2</div>
            </div>
            <div class="p-col">
                <div class="box">2</div>
            </div>
            <div class="p-col">
                <div class="box">2</div>
            </div>
            <div class="p-col">
                <div class="box">2</div>
            </div>
            <div class="p-col">
                <div class="box">2</div>
            </div>
            <div class="p-col">
                <div class="box">2</div>
            </div>
        </div>
    </div>
</section>
