<section>
  <div class="container-about">
    <div class="about-info">
      <app-shared-title [title]="'about.title'| translate"></app-shared-title>
      <p>
        {{'about.description.paragraph1' | translate }}
      </p>
      <p>
        {{'about.description.paragraph2' | translate }}
      </p>
      <p>
        {{'about.description.paragraph3' | translate }}
      </p>
      <!-- <a class="button">{{'about.buttonLabel' | translate }}</a> -->
      <br><br><br>
      <app-shared-button [buttonLabel]="'about.buttonLabel' | translate" (buttonClickEvent)="goTocontactPage()" ></app-shared-button>
    </div>
  </div>
</section>

