.container-about {
  .about-info {
    position: relative;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    font-size: 1.5rem;

    p {
      padding: 1rem;
    }

      a {
        border: 1px solid var(--greenlight);
        padding: 1.5rem;
        font-size: 1.4rem;
        width: 25rem;
        color: var(--greenlight);
        display: flex;
        justify-content: center;
        background: linear-gradient(to left, transparent 50%, var(--greenlight) 50%) right;
        background-size: 200%;
        transition: .5s ease-out;
        margin-bottom: 10px;

      }
      a:hover {
        background-position: left;
        color: white;
      }

  }

  @media screen and (min-width: 600px) {
    .about-info {
      width: 60rem;
    }
  }

  // Desktop
  @media screen and (min-width: 1200px) {
    .about-info {
      width: 54vw;
      margin-left: 5rem;
    }
  }


  @media screen and (min-width: 1440px) {
    .about-info {
      width: 42vw;
    }
  }

  @media screen and (min-width: 1920px) {
    .about-info {
      width: 30vw;
    }
  }
}






