<section>
  <div class="container-about">
    <div class="about-info">
      <div class="waviy">
        <span style="--i:1">Q</span>
        <span style="--i:2">u</span>
        <span style="--i:3">e</span>
        <span style="--i:4">m</span>
        <span class="space"></span>
        <span style="--i:5">S</span>
        <span style="--i:6">o</span>
        <span style="--i:7">u</span>
        <span class="space"></span>
        <span style="--i:8">E</span>
        <span style="--i:9">u</span>
       </div>
      <p>
        {{'about.description' | translate }}
      </p>
    </div>
  </div>
</section>
